/* Styles */

body {
    height: 300vh;
    background: radial-gradient(#10416b, black); 
  }


.main{
    width:1000px;
    height:1000px;
    margin:0 auto;
    position:relative;
}


.caption{
    width:500px;
    height:100px;
    position: absolute;
    top:50px;
    left:250px;
    text-align: center; 
    color:#FFA473;
    font-size:65px;
}


.block_timer{
    width:400px;
    height:400px;
    position: absolute;
    top:180px;
    left:300px;
    text-align: center; 
    border:5px solid #6FA37F;
    border-radius: 200px;
}

.elements{
    width:300px;
    height:100px;
    position: absolute;
    top:110px;
    left:50px;
}

#minutes, #seconds{
    float:left;
    height:50px;
    margin-left:20px;
    font-size:90px;
    width:100px;
    height:80px;
    background: none;
    color:#FFDFC4;
    border:none;
    text-align:center;
    font-weight: bold;
}

.symbol{
    float:left;
    margin-left:20px;
    color:#FFDFC4;
    font-size:40px;
    padding-top:10px;
    font-weight: bold;
}